p{color:white;font-style:italic;font-size: medium; font-family:sans-serif;background:transparent;}
.heading{font-family:'Courier New', Courier, monospace ;font-size: 36px;background: transparent;}
img{height: auto;max-width:100%;}
html{background-image:url("./Images/15387.jpg");background-repeat: no-repeat;background-size: auto;}
body{background-image:url("./Images/15387.jpg");background-repeat: no-repeat;background-size: auto;}